*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1294px;
    height: 540px;
}
img {
    width: 200px;
    height: 200px;
}
.head{
    font-size: small;
    color: darkgreen;
    padding-bottom: 20px;
}
.heading{
    font-size: x-large;
}
.player1{
    display: inline;
    position: absolute;
    margin-right: 500px;
}
.player2{
    display: inline;
    position: absolute;
    margin-left: 500px;
}
#player1Score{
    display: inline;
    position: absolute;
    margin-right:500px ;
    margin-top:300px ;
    margin-bottom: 200px;
    font-size: xx-large;
}
#player2Score{
    display: inline;
    position: absolute;
    margin-left:500px ;
    margin-top:300px ;
    margin-bottom: 200px;
    font-size: xx-large;
}
#rollDice{
    display: inline;
    position: absolute;
    margin-top: 340px;
    background-color: palevioletred;
    font-size: xx-large;
    border-radius: 10px;
    box-shadow: 5px 10px 18px;
}
#resetGame{
    display: inline;
    position: absolute;
    margin-top: 500px;
    background-color: red;
    font-size: xx-large;
    border-radius: 10px;
    box-shadow: 5px 10px 18px;
}